   <h1>Notas de {{user.username}}</h1>
    <table>
        <thead>
            <tr>
                <th>Asignatura</th>
                <th>Nota final</th>
            </tr>
        </thead>
        <tbody>
            {{#each notas}}
                
                    <th>Matematicas</td>
                    <td>{{this.matematicas}}</td>
                </tr>
                <tr>
                    <th>Lengua</td>
                    <td>{{this.lengua}}</td>
                </tr>
                <tr>
                    <th>Ingles</td>
                    <td>{{this.ingles}}</td>
                
                <tr>
                    <th>Fisica</td>
                    <td>{{this.fisica}}</td>
                </tr>
                <tr>
                    <th>Naturales
                    <td>{{this.naturales}}</td>
                </tr>
                <tr>
                    <th>Sociales</td>
                    <td>{{this.sociales}}</td>
                </tr>
                <tr>
                    <th>Educación Física</th>
                    <td>{{this.educacionFisica}}</td>
                </tr>
                <tr>
                    <th>Dibujo Técnico</th>
                    <td>{{this.dibujoTecnico}}</td>
                </tr>
                <tr>
                    <th>Comentarios</th>
                    <td>{{this.comentarios}}</td>
                </tr>
                
            {{/each}}
        </tbody>
    </table>
    <br><br>
 <a href="/auth/login-page" class="logout-link">Logout</a>

</body>
</html>